<!-- <p>
  house-search works!
</p> -->
<style>
  .layout {
    text-align: center;
    margin: 0px 0px 40px 0px;
    background-color: darkblue;
    border: 1px solid darkblue;
    /* border-radius: 8px; */
    box-shadow: 10px 10px 15px gray;
    padding:10px
  }

  .input-box {
    border: 2px inset gray;
    border-radius: 8px;
    padding:10px
  }
  .table1{
    border: 2px inset darkblue;
    padding: 15px;
    background-color: rgb(255, 249, 161);
    margin: 0px 0px 10px 200px;
  }

  table,
  th,
  td {
    border: 2px inset darkblue;
    padding: 15px;
    margin: 30px 400px 10px 400px;
    background-color: rgb(255, 249, 161);
  }
</style>


 <div class="layout">
     
    
     <select class="input-box" id="month" placeholder="Month">
        <option value="01">JANUARY</option>
        <option value="02">FEBRUARY</option>
        <option value="03">MARCH</option>
        <option value="04">APRIL</option>
        <option value="05">MAY</option>
        <option value="06">JUNE</option>
        <option value="07">JULY</option>
        <option value="08">AUGUST</option>
        <option value="09">SEPTEMBER</option>
        <option value="10">OCTOBER</option>
        <option value="11">NOVEMBER</option>
        <option value="12">DECEMBER</option>
      </select> &nbsp;&nbsp; 

      <input type="tel" class="input-box" id="contact" placeholder="Contact"> &nbsp;&nbsp; 
    
     <input type="text" class="input-box" placeholder="Card No." id="card">&nbsp;&nbsp; 

    <button type="submit" (click)="onSubmit2()" class="btn">SEARCH</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>




<table class="table1">
  <tr *ngIf="swapdetails">
    <th class="table1"> NAME-</th>
    <td class="table1" *ngFor="let name of swapdetails">{{name.names}}</td>
    <th> ADDRESS-</th>
    <td *ngFor="let address of swapdetails">{{address.addresses}}</td>
    <th> CARD NUMBER-</th>
    <td *ngFor="let card of swapdetails">{{card.cards}}</td>
  </tr>

  <!-- <tr *ngIf="n">
    
  </tr>

  <tr *ngIf="n">
    
  </tr> -->

 
</table>


 <!-- <table>
   <tr *ngIf="carddetails">
     <th>WARD</th>
     <td *ngFor="let ward of carddetails">{{ward.ward}}</td>
   </tr>
   <tr *ngIf="carddetails">
     <th>LINE</th>
     <td *ngFor="let line of carddetails">{{line.line}}</td>
   </tr>
 </table> -->



 <table >
   <tr *ngIf="day" >
     <th>DATE</th>
     <th>CARD SCANNED</th>
   </tr>
   <tr *ngFor="let date of day">
     <td>{{date.reportDate}}</td>
     <td>{{date.cardScanned}}</td>
   </tr>

 </table>